# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Build Master & Push to AWS 
on:
  push:
    branches: [ OP-10616 ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
    # GRAB CURRENT RELEASE VERSION
    - name: get-npm-version
      id: package-version
      uses: martinbeentjes/npm-get-version-action@master
    # PACKAGE ARTIFACT
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm pack
    # PUSH TO AWS S3 BUCKET
    - uses: chrislennon/action-aws-cli@v1.1
    - run: aws s3 cp swaggerhub-*.tgz s3://swaggerhub-cli/swaggerhub-cli-${{ steps.package-version.outputs.current-version }}.tgz --acl public-read
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
